{% extends 'layouts/base_layout.html' %}


{% block title_layout %}
    {% block title %}
        IA
    {% endblock title %}
            BLOG
{% endblock title_layout %}
    

{% block extra_head_layout %}
    {% block extra_head %} {% endblock extra_head %}
{% endblock extra_head_layout %}
    

{% block content_layout %}
    {% include 'components/commons/header.html' %}
    <main class="min-h-[calc(100vdh_-_112px)] flex justify-center flex-col">
        <div class="container mx-4 md:mx-8 lg:mx-40 bg-pink-100">
            {% block post_content %}
                <!-- Post content will be inserted here -->
            {% endblock post_content %}

        </div>
    </main>
    {% block content %} e Colocar contenido {% endblock content %}
    {% include 'components/commons/footer.html' %}
{% endblock content_layout %}