{% extends 'layouts/post_layout.html' %}

{% block title %}Post | BLOG IA{% endblock title %}

{% block content %}
<section class="relative overflow-hidden bg-gradient-to-b from-slate-950 via-black to-slate-950 text-white">
  <!-- Glow decorativo -->
  <div class="pointer-events-none absolute -top-24 left-1/2 size-[36rem] -translate-x-1/2 rounded-full bg-emerald-500/25 blur-3xl"></div>

  <div class="relative max-w-3xl mx-auto px-4 py-16">
    <div class="text-center">

  <form method="get" class="flex flex-wrap sm:flex-nowrap gap-4 mb-6">
    <div class="w-full">
      {{ filter_form.search_query }}
    </div>
    <div class="w-full sm:w-[380px]">
      {{ filter_form.order_by }}
    </div>
    <button type="submit" class="w-full sm:w-[280px] bg-blue-500 text-white p-2 rounded-lg">Buscar</button>
  </form>

  {% if perms.post.add_post %}
  <a href="{% url 'post:post_create' %}" 
   class="inline-flex items-center rounded-lg px-4 py-2 bg-emerald-600 text-white hover:bg-emerald-500">
   Nuevo post
  </a>
  {% endif %}

  <div class="grid grid-cols-1 gap-6 mt-3">
    {% for post in object_list %}
      <div class="bg-emerald-500/25 text-white rounded-2xl p-6">
        <h3 class="text-2xl uppercase font-bold">{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <p>Publicado por: <strong class="font-bold">{{ post.author.username }}</strong></p>
        <p>Fecha de publicación: {{ post.created_at }}</p>
        <p>Comentarios permitidos: {{ post.allow_comments|yesno:"Si,No" }}</p>
        <p>Comentarios: {{ post.amount_comments }}</p>
        <div class="flex gap-2 mt-8 justify-center">
          <a 
            class="bg-cyan-700 text-white p-2 rounded-lg" 
            href="{% url 'post:post_detail' slug=post.slug %}"
          >Ver post</a>
          <a 
            class="bg-red-500 text-white p-2 rounded-lg" 
            href="{% url 'post:post_delete' slug=post.slug %}"
          >Eliminar post</a>
        </div>
      </div>
    {% endfor %}
  </div>

  {% include "components/commons/pagination.html" %}
  
{% endblock content %}
  