<nav>
  <ul class="flex gap-4">
    <li><a href="{% url 'home' %}">Inicio</a></li>
    {% if user.is_authenticated %}
      {% if user.is_collaborator or user.is_superuser or user.is_staff or user.is_admin %}
        <li>
          <a href="{% url 'post:post_create' %}" class="px-3 py-1.5 rounded-lg bg-emerald-500 hover:bg-emerald-400 text-black text-sm font-semibold">Publicar</a>
        </li>
      {% endif %}

      <li>
        <a href="{% url 'user:user_profile' %}" class="px-3 py-1.5 rounded-lg bg-emerald-500 hover:bg-emerald-400 text-black text-sm font-semibold">Perfkldjsakldfjil</a>
      </li>
      <li>
        <form method="POST" action="{% url 'user:auth_logout' %}">
        {% csrf_token %}
        <button type="submit" class="px-3 py-1.5 rounded-lg bg-red-500 hover:bg-red-400 text-white text-sm font-semibold">Cerrar sesión</button>
        </form>
      </li>
    {% else %}
      <li><a href="{% url 'user:auth_login' %}">Iniciar fsdgsesión</a></li>
      <li><a href="{% url 'user:auth_register' %}">Registrarse</a></li>
    {% endif %}
  </ul>
</nav>